@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/pixel-weave.png') repeat; /* Pixel art background */
    color: #000000; /* Black text color for readability */
    padding: 20px;
}

header {
    background-color: #FF8364; /* Bright Orange */
    color: white;
    padding: 10px;
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

header h3 {
    padding-top: 50px;
    font-size: 100px;
}

header h1, header h2 {
    margin: 10px 0;
    font-size: 20px;
}

.language-switcher {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language-switcher button {
    background-color: #FFD98E; /* Pale Yellow */
    color: black;
    border: 2px solid #11CBD7; /* Bright Cyan */
    border-radius: 5px;
    font-family: 'Nunito';
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    
}

.language-switcher button:hover {
    background-color: #FFB677; /* Light Orange */
    color: white;
}

.section {
    width: 100%;
    margin-bottom: 40px;
}

.section h2 {
    text-align: center;
    color: #FA4659; /* Vivid Red */
    padding: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    background-color: #E3F6F5; /* Light Aqua */
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0px;
    width: 300px;
    height: 520px;
    text-align: center;
    font-size: 14px;
    transition: transform 0.2s;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card h3, .card h4, .card p {
    margin: 0 0 10px;
    font-size: 18px;
    flex: 1;
}

.card p {
    color: black;
}

.submit-section {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.submit-section h2 {
    color: #FF8364; /* Bright Orange */
    font-size: 24px;
}

.submit-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-section input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #6BD5E1; /* Light Blue */
    font-family: 'Nunito';
    font-size: 14px;
}

.submit-section input[type="submit"], 
.submit-section button[type="button"] {
    background-color: #FFD98E; /* Pale Yellow */
    color: black;
    padding: 10px 20px;
    border: 2px solid #FFB677; /* Light Orange */
    border-radius: 5px;
    font-family: 'Nunito';
    font-size: 14px;
    cursor: pointer;
}

.submit-section input[type="submit"]:hover, 
.submit-section button[type="button"]:hover {
    background-color: #11CBD7; /* Bright Cyan */
    color: white;
}

.ad-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

#hearticon {
    width: 10px;
    height: 10px;
}
