@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/pixel-weave.png') repeat; /* Pixel art background */
    color: #000000; /* Black text color for readability */
    background-color: #FBFBFB;
    padding: 20px;
}

header {
    background-color: #FE5F55; /* Bright Orange */
    color: white;
    padding: 10px;
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

header h3 {
    padding-top: 50px;
    font-size: 70px;
}

header h1, header h2 {
    margin: 10px 0;
    font-size: 20px;
}

#counter {
  font-family: Menlo, Andale Mono, monospace;
  color: #fff;
  text-shadow: 1px 1px 0px #444;
  width: 180px;
  overflow: hidden;
  position: relative;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
  display: block;
}

.nav {
    margin-bottom: 20px;
}

.section {
    width: 100%;
    margin-bottom: 40px;
}

.section h2 {
    text-align: center;
    color: #FA4659; /* Vivid Red */
    padding: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
/*    background-color: #E3F6F5;*/
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0px;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 14px;
    transition: transform 0.2s;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card-play-btn{
    background-color: #FE5F55;
}

.ad-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

#hearticon {
    width: 10px;
    height: 10px;
}


.card-img-overlay{
    height: 100%;
    opacity: 0;
    color: white;
    transform: translateY(5%);
    transition: all 0.3s ease;
}
.card-img-overlay:hover{
    opacity: 0.9;
    background-color: #000000;
    border-radius: 10px;
    transform: translateY(0);
}

/*#footer p{
    color:white;
}*/
