@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color:#FBFBFB ;
    padding: 20px;
}

.centerbtng{
    margin: 2px;
}

.h5bgcolor{
    background-color: #F8FAFC;
}

header {
    background-color: #FF8364; /* Warm Red */
    color: #FFFFFF; /* White */
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

header {
    background-color: #FF8364; /* Bright Orange */
    color: white;
    padding: 10px;
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

header h3 {
    padding-top: 50px;
    font-size: 100px;
}

header h4 {
    padding-top: 10px;
    font-family: 'Nunito';
    font-size: 35px;
}

header h1 {
    padding-top: 50px;
    margin: 10px 0;
    font-size: 100px;
}

.list-group
.game-details {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.game-info {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    text-align: left;
    width: 100%;
}

.game-info li {
    margin-bottom: 10px;
}


footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    color: #333333; /* Dark Grey */
}

footer p {
    margin: 0;
}
